<h1>About us</h1>

<div>
  <h4>Travel in comfort with BusRoutes.ie, Ireland&#39;s Largest Coach Company</h4>
  <h4>We carer for all your needs..</h4>
  <h2>Our Fleet</h2>
  <p> We operate a fleet of over 110 Failte Ireland approved coaches and We are delighted to announce that we added 15 NEW Tri-axel Setra Executive Coaches to our fleet in 2011. This is in addition to the 15 &#39;state of the art&#39; Setra &#39;11 registered coaches to our fleet at the beginning of January 11. Why not contact us now for your coach hire requirements.</p>
  <h2>Our Drivers</h2>
  <p> Most of our drivers are full time employees, which makes us almost unique in the business. To ensure the excellence of our drivers&#39; service, we have developed a range of training programmes, which is continually being expanded and they are expected to meet exacting standards of customer care and safety. They attend regular training in this area.. </p>
  <h2>Safety</h2>
  <p>We are committed to providing our passengers with the highest safety standards and all of the coaches in our fleet are fitted with seat belts and the latest safety features.They are rigorously maintained by an expert team to ensure maximum performance and efficiency.They comply with all Department of Transport and EU regulations regarding drivers&#39; hours.</p>
  <h2>Competitive Prices</h2>
  <p>We understand that price and budget is important to our customers. JJ Kavanagh and Sons we believe that you should not sacrifice on quality safety and comfort when you looking for a competitive quote. We want a chance to prove to you that you do not have to settle for second best. Yes you can have a modern spacious coach for a competitive price.</p>
  <p> Each vehicle has an average age of 1.7 years, which ensures within the European market our fleet is one of the most modern, reliable and comfortable. </p>
  <p>Looking for more information? Carol will give you a call. Enter your number here and submit she&#39;ll call.</p>
  <h3>Coach Features</h3>
  <h3>2012</h3>
  <ul>
    <li>- Air conditioning</li>
    <li>- Reclining seats</li>
    <li>- Audio/video facilities</li>
    <li>- WC facilities</li>
    <li>- Seat Belts </li>
    <li>- Tables (surcharge)</li>
  </ul>
  <h3>Setra 400 series</h3>
  <h3>2012</h3>
  <ul>
    <li>- Air Conditioning and climate control </li>
    <li>- Deluxe reclining seats with footrests</li>
    <li>- On board WC facilities</li>
    <li>- Audio, Video and CD facilities</li>
    <li>- Seat belts</li>
    <li>- Fridge</li>
  </ul>
  <h3>Setra 300 Series </h3>
  <h3>2012</h3>
  <ul>
    <li>- Air Conditioning and climate control</li>
    <li>- Deluxe reclining seats with footrests</li>
    <li>- On board WC facilities</li>
    <li>- Audio, Video and CD facilities</li>
    <li>- Seat belts</li>
    <li>- Fridge</li>
  </ul>
  <h3>Testimonial</h3>
  Abbey Tours
  <p> Abbey Tours is Ireland&#39;s largest Private Incoming Tourist Agency and we have worked extensively with K Bus since 1988. We deal exclusively with Incoming Tourism to Ireland and operate 3 Divisions: Group and Study Tours, Individual Travel, Incentive and Conference Abbey Tours recommend K Bus as a company of the highest integrity and can vouch that their service is of the highest standard. Jerry Leahy. MD.</p>
</div>